*.swp
*.pyc
*.jpg
*.jpeg
*.csv

# Shapefile stuff
*.shp
*.shx
*.dbf
*.prj
*.cpg
*.sbn
*.sbx
*.shp.xml

# Testing stuff (will go away eventually)
model/*
training/*

# Graph and label files
*.pb
*.txt
